@font-face {
  font-family: 'Segoe UI bold';
  src: url('../fonts/segoeuithibd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI normal';
  src: url('../fonts/segoeuithis.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI italic';
  src: url('../fonts/segoeuithisi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI italic bold';
  src: url('../fonts/segoeuithisz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
